@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #4A98F7;
}
.container{
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 10px;
    max-width: 2050px;
    max-height: 100vh;
    min-height: 90vh;
}
section{
    background-color: #fff;
    border-radius: 7px;
}
.tools-board{
    width: 210px;
    padding: 15px 22px 0;
}
.tools-board .row{
    margin-bottom: 20px;
}
.row .options{
    list-style: none;
    margin: 10px 0 0 5px;
}
.row .options .option{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
}
.option:is(:hover, .active) img{
    filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}
.option :where(span,label){
    color: #5A6168;
    padding-left: 10px;
}
.option:is(:hover, .active) :where(span,label){
    color: #4A98F7;
}
.option #fill-color{
    width: 14px;
    height: 14px;
}
#fill-color:checked ~ label{
    color: #4A98F7;
}
.option #size-slider{
    width: 100%;
    height: 5px;
    scale: 1.07;
    margin-top: 10px;
}
.colors .options{
    display: flex;
    justify-content: space-between;
}
.colors .option{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
}
.colors .option:nth-child(1){
    background-color: #fff;
    border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2){
    background-color: #000;
}
.colors .option:nth-child(3){
    background-color: #6DD400;
}
.colors .option:nth-child(4){
    background-color: #E02002;
}
.colors .option:nth-child(5){
    background-color: #4A98F7;
}
.colors .option.selected.option::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid #Fff;
    transform: translate(-50%,-50%);
}
.colors .option:first-child.selected::before{
    border-color: #ccc;
}
.options #color-picker{
    opacity: 0;
    cursor: pointer;
}
.buttons button{
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    font-size: .9rem;
    padding: 11px 0;
    margin-bottom: 13px;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}
.buttons button:hover{
    transition: .3s;
    scale: 1.02;
}
.buttons .clear-canvas{
    color: #5C757D;
    border: 1px solid #6C757D;
}
.buttons .clear-canvas:hover{
    color: #fff;
    background-color: #6C757D;
}
.buttons .save-img{
    background-color: #4A98F7;
    border: 1px solid #4A98F7;
}
.drawing-board{
    flex: 1;
}
.drawing-board canvas{
    width: 100%;
    height: 100%;
}
/* @media screen and (max-width: 981px) {
    .container{
        flex-direction: column-reverse;
        max-height: 100%;
    }
    .container .tools-board{
        width: 100%;
        text-align: center;
    }
    .container .tools-board .options{
        display: flex;
    }
} */